body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    align-content: baseline;
    width: 100%;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 800px) {
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
}